@font-face {
    font-family: "Lucida Sans Unicode";
    src: url('../fonts/LucidaSansUnicode.eot');
    src: url('../fonts/LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LucidaSansUnicode.woff2') format('woff2'),
        url('../fonts/LucidaSansUnicode.woff') format('woff'),
        url('../fonts/LucidaSansUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Lucida Sans Unicode", sans-serif;
}
header {
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: column; 
}
.up {
    margin: 0 auto 12px auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.call {
    position: relative;
    top: 4px;
}
.phone {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #5e696d;
}
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    min-height: 27px;
    border-radius: 4px;
    background-color: #b1bcc0;
    background-image: linear-gradient(180.0deg, #206988 0%, #114165 62%, #0c3256 100%);
    box-shadow: 2px 3px 3px 0px rgba(150,150,150,0.75);
    font-family: 'Lucida Sans Unicode', sans-serif;
}
.input-login {
    margin: 0 2px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #9ba1a3;
    font-size: 11px;
}
.input-login:focus {
    background: #d8f5ff;
    border: 1px solid #9ba1a3;
}
.login-submit {
    border: none;
    background-color: #ffffff00;
    color: #fff;
    font-size: 11px;
}
.reg {
    border-left: 1px solid #fff;
    padding-left: 10px;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
}
.recover {
    font-size: 12px;
    text-decoration: underline;
    color: #bfbfbf;
}
.nav-buttons {
    padding: 5px 5px;
    border: 1px solid #bdc4c7;
    border-radius: 30px;
}
.nav-buttons img {
    margin: 0 4px;
}
.baner {
    margin: 0 auto;
    min-height: 312px;
    max-width: 1200px;
    width: 100%;
    background-image: url(../img/baner.png);
    background-size: cover;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    margin: 5px auto;
    max-width: 1158px;
    width: 100%;
    border: 1px solid #0d1642;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: linear-gradient(0.0deg, #000000 0%, #576068 100%);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    font-family: 'Lucida Sans Unicode', sans-serif;
}
.menu-nav {
    display: flex;
    justify-content: space-evenly;
    min-width: 75%;
    padding: 0 20px;
}
.menu-item a {
    padding: 8px 25px;
    text-decoration: none;
    color: #b1bcc0;
    font-size: 14px;
}
.menu-item a:hover {
    background-image: linear-gradient(180.0deg, #206988 0%, #114165 61%, #0c3256 100%);
    border-radius: 20px;
}
.cart {
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart-text,
.sum {
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 0.04em;
    color: #929b9f;
}
.quantity,
.money {
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #0d5a8f;
}
.filtres {
    padding: 20px 40px 0 40px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.auto,
.tires,
.rims {
    padding: 10px;
    margin: 10px;
    border: 1px solid #9c9c9d;
    border-radius: 10px;
    box-shadow: 3px 4px 5px -1px rgba(104,104,104,0.75);
    font-family: 'Lucida Sans Unicode', sans-serif;
}
.auto {
    flex-basis: 50%;
}
.tires {
    flex-basis: 20%;
}
.rims {
    flex-basis: 30%;
}

.content {
    padding: 20px 40px 0 40px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftbar {
    padding: 10px 5px;
    flex-basis: 18%;
}
.leftbar-title,
.rightbar-title {
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin: 0 0 10px -5px;
    max-width: 90%;
    min-height: 26px;
    border: 1px solid #79878d;
    border-radius: 25px;
    box-shadow: 2px 3px 3px -1px rgba(150,150,150,0.75);
    font-size: 13px;
    text-transform: uppercase;
    color: #114165;
}
.leftbar img,
.rightbar img {
    margin: 1px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.leftbar-subtitle {
    display: flex;
    align-items: center;
    padding-left: 2px;
    margin: 10px 0;
    min-height: 26px;
    max-width: 60%;
    border: 1px solid #79878d;
    border-radius: 25px;
    box-shadow: 2px 3px 3px -1px rgba(150,150,150,0.75);
    font-size: 13px;
    text-transform: uppercase;
    color: #114165;
}
.leftbar-subtitle img {
    margin-right: 4px;
}
.leftbar-list {
    padding-left: 20px;
    list-style: circle inside;
    font-size: 13px;
    line-height: 25px;
    color: #465961;
}
.leftbar-list a {
    text-decoration: none;
    color: #465961;
}
.leftbar-list a:hover {
    font-family: Arial;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
    color: #0c3256;
}
.center {
    padding: 5px;
    flex-basis: 64%;
    height: 628px;
    background-color: #ffffff;
    background-image: linear-gradient(0.0deg, rgba(35,75,93,0.48) 0%, rgba(201,207,209,0.48) 100%);
}
.rightbar {
    padding: 15px;
    flex-basis: 18%;
}